.cont{
    color: black;
    text-shadow: 2px 2px rgb(102, 20, 255);
    padding-left: 5px;
}

.card-img-top{
    width: 100%;
    border-radius:0% 0% 50% 50% ;
}
.conta{
    background-image: url("https://cdn.corporatefinanceinstitute.com/assets/asset-management.jpeg");
    /* background-repeat: no-repeat; */
    background-size: cover;  
    height: 568px;
}