 .img{
    background-image: url("https://cdn.corporatefinanceinstitute.com/assets/asset-management.jpeg");
    /* background-repeat: no-repeat; */
    background-size: cover;
    height: 569px;
 }
.container{
    text-align: center;
    
}
.main{
    background-color: rgba(30, 240, 255, 0.733);
}

.border{
    padding: 0%;
    border: 10%;
    background-origin: padding-box;

}

.btn.btn-primary{
 text-align: center;
    padding-left: 50px;
}

.details{
    color: green;
}

input{
    width:100%;
    border: 3px solid #dbdbdb;
    padding: 5px;
    margin: 2px 0;
    border-radius: 7px;
    box-shadow: none;
    

}

button{
    width: 100px; 
    margin: 5px 0;
    background-color: dodgerblue;
    font-family: 'Open Sans Condensed',sans-serif; 
    padding: 5px;
    

}
.wrapper1 {
    height: 100vh;
    width: 100%;
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    align-items: center; 
    /*background-color: #258ea6; */
    /* margin-top: 1px; */
    /* margin-bottom: 40px; */
  }
  
  .form-wrapper {
    width: 400px;
    /* display: flex; */
    /* flex-direction: column; */
     padding: 5px 40px; 
    border-radius: 10px;
    box-shadow: 0px 5px 5px #555;
    background-color:#e3f2fd;
    /* margin-bottom:7%; */
    margin-left: 500px;
    margin-top:5px;
    

  }
  form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .border{
      margin-left: 50px;
      text-align: center;
  }
 
 