/* .main.h1{
    text-align: center;
}
.main{
    background-color: rgba(30, 240, 255, 0.733);
}

.border{
    padding: 2%;
    border: 20%;
    background-origin: padding-box;
} */

/* .btn.btn-primary{
 text-align: center;
    padding-left: 50px;
}  */

/* .details{
    color: green;
} */
/* .nav-link{
    float: right;
    padding-left: 550px;
} */
.nav-item1{
    padding-left: 550px;
  }
 

/* /* .border{
    width: 200px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 10vh;
    margin:0 auto;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
    padding: 10px;
} */

/* input{
    width:65%;
    border: 3px solid #dbdbdb;
    padding: 5px;
    margin: 2px 0;
    border-radius: 3px;
    box-shadow: none;

}

button{
    width: 100px;
    margin: 5px 0;
    background-color: dodgerblue;
    font-family: 'Open Sans Condensed',sans-serif;
    padding: 5px;

} */
 
/* body{
    background-image:url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.crowcanyon.com%2Fasset-management%2Ffive-features-to-look-for-in-an-it-asset-management-system%2F&psig=AOvVaw187WUSVLUcmDyx9Ag4X5HM&ust=1607145904116000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCLi_66jvtO0CFQAAAAAdAAAAABAD") ;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size:cover;
  } */